body {
   background: linear-gradient(150.64deg, #8e2de2 0%, #4a00e0 100%);
   height: 100vh;
}

.header__title {
   text-align: center;
   padding: 20px;
   font-weight: 300;
   font-size: 28px;
   line-height: 1.2;
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 170px;
}

.main {
   text-align: center;
   font-weight: 400;
   color: #ffffff;
}

.main__find {
   max-width: 200px;
   margin: 0 auto;
}

.main__city-here {
   border-bottom: 1px solid rgba(255, 255, 255, 0.75);
   font-size: 20px;
   line-height: 1.8;
   color: rgba(255, 255, 255, 0.7);
}

/* стили городов */
.main__city {
   font-weight: 700;
   font-size: 54px;
   line-height: 1;
}

/* стили вывода описания погоды */
.main__description {
   text-transform: uppercase;
   font-size: 14px;
   line-height: 1;
   color: rgba(255, 255, 255, 0.8);
   margin-bottom: 16px;
}

/* стили вывода погоды в градусах */
.main__degrees {
   font-weight: 700;
   font-size: 34px;
   line-height: 1;
   color: #ffffff;
}

.main__oops {
   font-size: 20px;
   line-height: 1;
}

.main__text {
   font-weight: 400;
   font-size: 12px;
   line-height: 1;
   text-align: center;
   color: rgba(255, 255, 255, 0.75);
   margin-bottom: 30px;
}

.footer {
   margin: 0 auto;
   font-weight: 400;
   font-size: 21px;
   line-height: 1.4;
   color: rgba(255, 255, 255, 0.5);
   padding: 14px 0;
}

/* buttons */
.main__change {
   font-size: 17px;
   line-height: 1.65;
   text-decoration-line: underline;
   color: rgba(255, 255, 255, 0.5);
   background: inherit;
   cursor: pointer;
   margin-bottom: 10px;
}

.active {
   display: none;
   margin: 0 auto;
}
/* общий стиль кнопок */
/* всплывающий input */

.main__input {
   display: none;
   margin: 0 auto;
   max-width: 280px;
   padding: 10px 8px;
   border-radius: 8px;
   font-size: 16px;
}

/* стили для блока-ошибки */
.main__error {
   display: none;
}

/* надпись */
.main__error-text {
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
}

.displ-del {
   display: none;
}
/* кнопка */
.main__btn-again {
   background: #ffffff;
   border-radius: 8px;
   font-size: 20px;
   line-height: 1.4;
   color: #4c01e0;
   padding: 7px 50px;
   cursor: pointer;
}
